@import url('href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"');

*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    color: crimson;
}

h1{
    color: darkorange;
}

div h1{
    color: darkred;
}

div h1{
    color: goldenrod;
}

.title{
    color: cornflowerblue;
    font-weight: 100;
}

.btn-primary{
    color: darkorchid;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: green;
    width: 20rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
}

.modal h1{
    color: white;
    font-size: 1.2rem;
}

.modal button{
    color: white;
    background-color: yellow;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 100%;
    position: relative;
    top: -15.5rem;
    left: 17.5rem;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box{
    background-color: peru;
    color: white;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.box:nth-child(3){
    background-color: royalblue;
    position: sticky;
    top: 0;
}

#special-title{
    color: darkslategray;
    font-style: italic;
}